/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body {
  max-width: 1500px;
  margin: 0 auto;
  font-family: Helvetica;
}
.subheader-yellow{
  color: yellow;
}

.subheader-white{
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #540b51;
  padding: 8px 10px;
}

.slack-logo {
  max-width: 140px;
}

.page-title {
  color: white;
}

.first-section {
  background-color: #540b51;
  padding: 20px;
}

header {
  background-color: #540b51;
}

.header-right-side button {
  background-color: transparent;
}

.trusted-by {
  background-color: #f3eae2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.trusted-by-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-bottom: 24px;
}

.trusted-by-images img {
  height: 50px;
}

.h3-teams{
  color: #540b51;
  font-size: 2rem;
}

.section-teams {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.percent {
  color: #540b51;
  font-size: 2rem;
}

#download-slack {
  color: blue;
}

.section-digitalHq {
  background-color: #540b51;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-digitalHq h3 {
  font-size: 1.5rem;
  text-align: center;
}

#button-free{
  background-color: white;
  color: #540b51;
  height: 48px;
  font-size: large;
  align-self: center;
  border-radius: 5px;
  width: 90%;
  margin-bottom: 15px;
}

#button-sales {
  background-color: #540b51;
  color: white;
  border-color: white;
  height: 48px;
  width: 90%;
  font-size: large;
  align-self: center;
  border-radius: 5px;
  margin-bottom: 30px;
}

.first-ul-footer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  list-style-type: none;
}

.last-ul-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

.ul-percent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}


@media (max-width: 768px) {
  .first-section {
    text-align: center;
    max-width: 265px;
    margin: 0 auto;
  }
  nav {
    flex-direction: row;
  }

  .buttons {
    flex-direction: column;
    justify-content: space-around;
  }

  .google-button {
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #4285f4;
    color: white;
  }

  .buttons > button {
    width: 100%;
    height: 46px;
    border-radius: 4px;
  }

  .buttons > button > img {
    width: 24px;
    background-color: white;
  }

  .header-list {
    display: none;
  }

  .hero-product {
    width: 100vw;
    margin-top: 36px;
  }

  .h3-teams{
    font-size: 1.5rem;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header-list {
    display: none;
  }

  .first-section {
    width: 400px;
    padding-bottom: 36px;
    text-align: left;
    background-image: url("../images/background-singup.png");
    background-size: cover;
  }
  .page-title {
    font-size: 68px;
  }

  .hero-section {
    align-items: center;
  }

  .hero-product {
    width: 30vw;
  }
}

.ul-percent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

.first-ul-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  
}

.last-ul-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}
